*.aux
..fdb_latexmk
_NN_example.tex
thesis.ax
thesis.bbl
thesis.blg
thesis.fdb_latexmk
thesis.fls
thesis.log
thesis.out
thesis.tex.latexmain
thesis.toc
thesis.aux
                                
LSTM_guide.svg
Visin_thesis_Aaron1.pdf
deconvRNN1.jpg
deconvRNN2.jpg
deconvRNN3 - val_jaccard: 0.6224.jpg
deconvrnn.zip
img/deconvLSTM/DEConvLSTM.xml
img/deconvLSTM/bmx-trees-1.png
img/deconvLSTM/bmx-trees-2.png
img/deconvLSTM/bmx-trees-3.png
img/deconvLSTM/bmx-trees-4.png
img/deconvLSTM/breakdance-0.png
img/deconvLSTM/breakdance-1.png
img/deconvLSTM/breakdance-2.png
img/deconvLSTM/breakdance-3.png
img/deconvLSTM/breakdance-4.png
img/deconvLSTM/dance_twirl-0.png
img/deconvLSTM/dance_twirl-1.png
img/deconvLSTM/dance_twirl-2.png
img/deconvLSTM/dance_twirl-3.png
img/deconvLSTM/dance_twirl-4.png
img/deconvLSTM/drift-1.png
img/deconvLSTM/drift-2.png
img/deconvLSTM/drift-3.png
img/deconvLSTM/drift-4.png
img/deconvLSTM/gifs/
img/deconvLSTM/method.png
img/deconvLSTM/model_skip.png
img/deconvLSTM/paragliding-1.png
img/deconvLSTM/paragliding-2.png
img/deconvLSTM/paragliding-3.png
img/deconvLSTM/paragliding-4.png
img/deconvLSTM/parkour-0.png
img/deconvLSTM/parkour-1.png
img/deconvLSTM/parkour-2.png
img/deconvLSTM/parkour-3.png
img/deconvLSTM/parkour-4.png
img/renet/renet_mdrnn.pdf
img/reseg/bad samples/
img/reseg/camvid3.png
img/reseg/camvid4.png
img/reseg/camvid5.png
img/reseg/camvid6.png
img/reseg/fashionista/
img/reseg/horse_bad.jpg
img/reseg/horse_good.jpg
img/reseg/horse_racist.jpg
img/reseg/horse_soso.jpg
results.txt
segm.bib
thesis_cap5_adri.pdf
